body{
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-display: block;
    font-size: medium;
}
header{
    background-color: orange;

}
nav{
        background-color: orange;
}
main{
    background-color: orange;
    font-size: large;
}
footer{
    background-color: orange;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-variant: small-caps;
    font-size: x-large;
}
li{
    display: inline;
    color: white;
    width: 50%;
}
h1{
    text-align: center;
    font-style: italic;
    font-family:'Courier New', Courier, monospace;
    color: white;
}
p{
    line-height: 150%;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-style:italic;
    font-size: normal;
}