body{
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-display: block;
    font-size: medium;
}
header{
    background-color: rgba(34, 131, 53, 0.951);

}
nav{
        background-color: rgb(92, 199, 206);
}
main{
    background-color: aqua;
    font-size: large;
}
footer{
    background-color: brown;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-variant: small-caps;
    font-size: xx-large;
}
li{
    display: inline;
    /* width: 50%; */
}
h1{
    text-align: center;
    font-style: oblique;
    font-variant: small-caps;
    color: rgb(36, 105, 166);
}
p{
    /* line-height: 30%; */
}